{
    "env": {
        "browser": true,
        "node": true
      },
    "extends":[
        "eslint:recommended",
        "plugin:react/recommended"
    ] ,
    "parserOptions":{
        "ecmaVersion":6,
        "ecmaFeatures":{
            "jsx":true
        },
        "sourceType": "module"
        
    },
    "plugins":["react"],
    "rules": {
        "react/jsx-indent":[1,2],
        "react/jsx-indent-props":[1,2]
    }
}